@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,700&display=swap");
body {
    font-family: "Rubik", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


/* ul {
    list-style: none;
} */

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

:root {
    font-family: "Lato", sans-serif;
}

* {
    box-sizing: border-box;
}

.main_content {
    border-radius: 12px;
    background-color: #e0e0e0;
    max-width: 1000px;
    min-width: 330px;
    width: 100dvw;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    position: absolute;
    top: 5px;
    left: 50%;
    translate: -50% 0;
    height: 100%;
    max-height: 600px;
}

.header_content .logo {
    filter: drop-shadow(2px 4px 6px grey);
    font-size: 24px;
    font-weight: 700;
    mix-blend-mode: luminosity;
    color: #5b5757;
    display: flex;
    align-items: center;
}

.main_content #nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    position: relative;
}

.main_content #nav .trigger-spec {
    position: absolute;
    height: 100%;
    border-radius: 12px;
    transition: transform 0.5s ease-out;
    box-shadow: 3px 3px 6px #bebebe, -3px -3px 6px #ffffff;
}

.main_content #nav .trigger {
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    text-align: center;
    flex: 1 1 0px;
    border-radius: 12px;
    color: gray;
    transition: color 0.5s ease-out;
    white-space: nowrap;
    font-size: 16px;
}

.main_content #nav .trigger.active {
    color: #000;
}

.main_content .header_content {
    display: flex;
    justify-content: space-between;
}

.main_content #main_content {
    display: block;
    overflow: hidden;
    border-radius: 12px;
    background: #e0e0e0;
    box-shadow: inset 36px 36px 71px #cecece, inset -36px -36px 71px #f2f2f2;
    height: 100%;
}

.main_content #main_content .targets {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transform: translate(0rem);
    height: 100%;
    transition: transform 0.5s ease-out;
}

.main_content #main_content .targets .target {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable both-edges;
    padding: 1rem 1.5rem;
    min-width: 100%;
    opacity: 0;
    transform: translateY(10rem);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

main #main_content .targets .target.active {
    transform: translateY(0rem);
    opacity: 1;
}


/* ----------------------------------------------------- */

.flex {
    position: relative;
    display: flex;
    gap: 50px;
}

.left__block {
    margin-bottom: 20px;
    width: 100%;
    max-width: 620px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.left__block span {
    color: #1828BA;
}

.right__block2 {
    position: sticky;
    top: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.block__botton {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    height: 44px;
    width: max-content;
    background-color: #1828BA;
    border-radius: 5px;
    padding: 20px;
    color: #fff;
    align-items: center;
    box-shadow: 0px 4px 10px 0px #1828BA;
}

.button:hover {
    background-color: #F11F5A;
    box-shadow: 0px 4px 10px 0px #F11F5A;
}

.button p {
    margin-left: 10px;
}

figure {
    box-sizing: border-box;
    position: relative;
    height: 320px;
    min-height: 320px;
    width: 260px;
    min-width: 260px;
    margin-top: 20px;
    overflow: hidden;
}

.second__photo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main__photo {
    border-radius: 0 0 0 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 295px;
    width: 240px;
    z-index: 2;
}

.fone {
    position: absolute;
    top: 0;
    right: 0;
    height: 295px;
    width: 240px;
    z-index: 1;
    border-radius: 5px 5px 5px 50px;
    overflow: hidden;
}

.lists {
    min-height: 268px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    justify-content: space-between;
    margin-bottom: 20px;
}

ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ol li {
    column-gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.lists ul {
    padding-left: 20px;
    width: calc((100%) / 2);
}


/* .lists ul:nth-child(2) {
    margin-right: 60px;
} */

.lists ul li {
    margin-top: 5px;
    margin-left: 18px;
}

.end {
    margin: 30px 30px 30px auto;
}

h2 {
    margin-bottom: 15px;
    font-size: 20px;
}

.title-slim {
    font-size: 20px;
    font-weight: 400;
    color: #535353;
}

.education__block {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.education__block div {
    width: calc((100% - 20px) / 2);
}

@media screen and (max-width: 700px) {
    .header_content {
        flex-direction: column;
        gap: 15px;
    }
    .left__block {
        align-items: center;
    }
    ol li {
        justify-content: center;
        text-align: center;
    }
    .right__block2 {
        position: static;
    }
    .flex {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .button {
        margin: 0 auto;
    }
    .skill {
        margin-right: 0;
    }
    #nav {
        display: flex;
    }
}

@media screen and (max-width: 530px) {
    .trigger {
        padding: 0.3rem 0.2rem!important;
        font-size: 11px!important;
    }
    .education__block div {
        width: 100%;
    }
    .lists {
        flex-direction: column;
        justify-content: center;
    }
    .lists ul {
        padding-left: 20px;
        width: auto;
    }
}
